# Python Standard Müll
__pycache__/
*.py[cod]
*$py.class

# Virtuelle Umgebungen (WICHTIG!)
.venv/
venv/
env/

# VS Code Settings
.vscode/

# MuJoCo Logs oder temporäre Dateien (optional)
*.log

tensorboard/
monitor_logs/
models/ppo_training/models_vecnorm/
models/ppo_training/models/

models/PPO_training/models_vecnorm/
models/PPO_training/models/

videos/

interisting_models/

configurations/

models/

wandb/